body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    width: 400px;
    height: 400px;
}

.svgInTrack,
.SvgInIndi__ {

    cx: 200px;
    cy: 200px;
    r: 100px;
    fill: transparent;
    stroke-width: 16px;
}

.svgInTrack {
    stroke: #ddd;
}